@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
a {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}
.container {
  display: flex;

  .sideMenu {
    height: 100vh;
    width: 47.2rem;
    background-color: #f9f9f9;
    position: fixed;
    box-shadow: 1rem 0 1.5rem rgba($color: #ccc, $alpha: 0.3);

    &__userInfo {
      display: flex;
      width: 100%;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      text-align: center;
      height: 30rem;
      &__photo {
        &__img {
          background-image: url(./assets/img/sarah.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 8.9rem;
          height: 9.5rem;
          border-radius: 50%;
          flex-basis: 100%;
          box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.3);
        }
      }
      &__name {
        font-size: 2rem;
        font-weight: 700;
        flex-basis: 100%;
        padding-top: 2rem;
      }
      &__mail {
        font-size: 1.4rem;
        font-weight: 300;
        flex-basis: 100%;
      }
    }
    &__mainFeatures {
      display: flex;
      justify-content: center;
      width: 100%;

      &__list {
        list-style-type: none;

        li {
          padding: 2rem 10rem 2rem 5rem;
        }

        &__profile {
          flex-basis: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          &__icon {
            background-image: url(./assets/img/user.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1rem;
          }

          &__link {
            text-decoration: none;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
        &__notes--active {
          border-radius: 1rem;
          background-color: #4e4ff8;
          padding-left: 5rem !important;
          width: 350px;
          box-shadow: 0 0 1.5rem #4e4ff8;
        }
        &__notes {
          flex-basis: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          &__icon {
            background-image: url(./assets/img/edit-white.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1rem;
          }

          &__link {
            text-decoration: none;
            font-size: 2.2rem;
            font-weight: 600;
            color: #fff;
          }
        }
        &__reminders {
          flex-basis: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          &__icon {
            background-image: url(./assets/img/bell.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1rem;
          }

          &__link {
            text-decoration: none;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
        &__calendar {
          flex-basis: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          &__icon {
            background-image: url(./assets/img/date.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1rem;
          }

          &__link {
            text-decoration: none;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
      }
    }
    &__sideOptions {
      display: flex;
      width: 100%;
      text-align: center;
      height: 300px;
      align-items: flex-end;
      padding-left: 11rem;

      &__list {
        li {
          padding: 2rem 0;
        }
        &__settings {
          flex-basis: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          &__icon {
            background-image: url(./assets/img/settings.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1rem;
          }

          &__link {
            text-decoration: none;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
        &__logout {
          flex-basis: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          &__icon {
            background-image: url(./assets/img/logout.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1rem;
          }

          &__link {
            text-decoration: none;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
      }
    }
  }
  .mainNotesView {
    width: 144.8rem;
    margin-left: 50rem;
    &__topBar {
      position: fixed;
      width: 135rem;
      display: flex;
      height: 100px;
      background-color: #fff;
      align-items: center;
      justify-content: space-between;

      &__search {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border: 1px solid #4e4ff8;
        border-radius: 1.5rem;
        box-shadow: 0 0 1.5rem rgba($color: #4e4ff8, $alpha: 0.5);
        height: 6.1rem;
        padding: 0 3rem;
        width: 50.8rem;
        margin: 3rem 0 0 5rem;
        &__icon {
          background-image: url("./assets/img/Icon\ ionic-ios-search.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 2.2rem;
          width: 2.1rem;
          margin-right: 3rem;
        }
        &__input {
          border: none;
          font-size: 2rem;
          outline: none;

          &::placeholder {
            font-size: 2rem;
          }
        }
      }
      &__addNote {
        margin: 3rem 0 0 3rem;

        &__button {
          padding: 1.6rem 5rem;
          font-size: 2.2rem;
          background-color: #4e4ff8;
          box-shadow: 0 0 1.5rem rgba($color: #4e4ff8, $alpha: 1);
          border: none;
          color: #fff;
          border-radius: 1rem;
          display: flex;
          align-items: center;
          outline: none;

          &:hover {
            cursor: pointer;
          }

          &__icon {
            background-image: url("./assets/img/Icon\ feather-plus.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 2rem;
          }
        }
      }
      &__viewOptions {
        display: flex;
        justify-content: space-between;
        width: 9rem;
        filter: opacity(50%);

        &__list {
          background-image: url("./assets/img/list.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 2.9rem;
          width: 2.9rem;
        }

        &__grid {
          background-image: url("./assets/img/grid.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 2.9rem;
          width: 2.9rem;
        }
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10rem;
      color: #fff;

      .default {
        background-color: #4e4ff8;
        box-shadow: 0 0 1.5rem rgba($color: #4e4ff8, $alpha: 1);
      }
      .turquoise {
        background-color: #24a1aa;
        box-shadow: 0 0 1.5rem rgba($color: #24a1aa, $alpha: 1);
      }
      .orange {
        background-color: #c98122;
        box-shadow: 0 0 1.5rem rgba($color: #c98122, $alpha: 1);
      }
      .red {
        background-color: #d2332d;
        box-shadow: 0 0 1.5rem rgba($color: #d2332d, $alpha: 1);
      }
      .pink {
        background-color: #c84d7e;
        box-shadow: 0 0 1.5rem rgba($color: #c84d7e, $alpha: 1);
      }
      .green {
        background-color: #3b9750;
        box-shadow: 0 0 1.5rem rgba($color: #3b9750, $alpha: 1);
      }

      &__noteBox:hover {
        .mainNotesView__list__noteBox__options {
          visibility: visible;
          opacity: 1;
        }
      }
      &__noteBox {
        width: 35.6rem;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 4rem;
        margin: 6rem 0 0 5rem;
        box-shadow: 0 0 3rem rgba($color: #4e4ff8, $alpha: 0.3);
        border-radius: 1rem;
        background-color: #4e4ff8;
        word-break: break-all;

        &__date {
          font-size: 1rem;
          font-weight: 300;
          flex-basis: 100%;
        }
        &__title {
          font-size: 2.3rem;
          font-weight: 600;
          flex-basis: 100%;
          padding-top: 1rem;
        }
        &__description {
          font-size: 2rem;
          font-weight: 400;
          flex-basis: 100%;
          padding-top: 1rem;
        }
        &__tags {
          font-size: 1rem;
          flex-basis: 100%;
          padding-top: 1rem;
        }
        &__options {
          padding-top: 3rem;
          display: flex;
          visibility: hidden;
          justify-content: space-between;
          width: 100%;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.5s linear;
          &__edit {
            background-image: url(./assets/img/edit-white.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 3rem;
            width: 3rem;
          }
          &__pin {
            background-image: url(./assets/img/pin-white.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 3rem;
            width: 1.7rem;
          }
          &__delete {
            background-image: url(./assets/img/delete-white.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 3rem;
            width: 3rem;
          }
          &__check {
            height: 3rem;
            width: 3rem;
            border: 0.2rem solid #fff;
            border-radius: 0.5rem;
          }
        }
      }
      &__noNotes {
        display: flex;
        width: 100%;
        height: 70rem;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;

        &__box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          text-align: center;

          &__img {
            flex-basis: 100%;
            background-image: url("./assets/img/edit.png");
            background-position: center;
            background-repeat: no-repeat;
            width: 18.4rem;
            height: 18.4rem;
            filter: opacity(20%);
            margin-bottom: 3rem;
          }
          &__alert {
            color: #bdbdbd;
            flex-basis: 100%;
            font-size: 3.5rem;
            font-weight: 400;
            margin-bottom: 5rem;
          }
        }
      }
    }
  }
}
